*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
.pera1{
     width: 550px;
     height: 220px;
     background: grey;
     font-size: 28px;
     color: black;
     box-shadow: 0 0 20px black , 0 0 20px black inset;
     font-family: 'Alumni Sans Collegiate One', sans-serif;
     margin: 20px auto;
     border-radius: 20px;
     text-align: justify;
     padding: 10px;
     cursor: pointer;




}